[project]
	description = puppet-ceph module to deploy ceph cluster using ceph-deploy
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stas Alekseev (salekseev)
[access "refs/for/refs/*"]
	read = group user/Stas Alekseev (salekseev)
	push = group user/Stas Alekseev (salekseev)
	label-Code-Review = -2..+2 group user/Stas Alekseev (salekseev)
	label-Verified = -1..+1 group user/Stas Alekseev (salekseev)
	rebase = group user/Stas Alekseev (salekseev)
	removeReviewer = group user/Stas Alekseev (salekseev)
	submit = group user/Stas Alekseev (salekseev)
[access "refs/heads/*"]
	read = group user/Stas Alekseev (salekseev)
	create = group user/Stas Alekseev (salekseev)
	push = +force group user/Stas Alekseev (salekseev)
	pushMerge = group user/Stas Alekseev (salekseev)
[access "refs/tags/*"]
	push = +force group user/Stas Alekseev (salekseev)
	pushTag = group user/Stas Alekseev (salekseev)
	pushSignedTag = group user/Stas Alekseev (salekseev)
